.content {
    display: grid;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 60%;
    background: #28487e;
}

.product:hover {
    background: #187bad;
}

.tmp {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.productImage img {
    width: 15vh;
    height: 15vh;
    object-fit: cover;
    border-radius: 5px;
}

.product a {
    text-decoration: none;
    color: inherit;
}

.name {
    order:1;
    width: 7vw;
    font-size: 2em;
    font-weight: bold;
    padding-left: 0.5vw;
    padding-bottom: 5px;
    top: 0;
    word-wrap: break-word;
}

.description {
    order:2;
    width: 30vw;
    font-size: 2em;
    margin-left: 0.5vw;
    padding-bottom: 5px;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.5vw;
}

.price{
    font-weight: bold;
    font-size: 1.5em;
}

.deleteFromCart {
    flex: 0 0 auto;
    background: transparent;
    border-radius: 25px;
    border-width: 2px;
    border-color: #000000;
    border-color: #000000;
    border-style: hidden;
    padding-right: 1vw;
    padding-left: 1vw;
}

.deleteFromCart:hover {
    background: #28487e;
}

.deleteFromCart img {
    width: 2vw;
    height: 2vw;
}

.quantitySelection {
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-right: 2vw;
}

.quantityInput {
    color: inherit;
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    background: #5f6b7a;
    border-radius: 25px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    padding-right: 1vw;
    padding-left: 1vw;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 60%;
    background: #b9002c;
    font-weight: bold;
}

.bottomContainer .goToCheckout {
    flex: 0 0 auto;
    border: none;
    border-radius: 25px;
    padding: 5px;
    background: #006ba4;
    color: inherit;
    border: 1px solid white;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}

.bottomContainer .goToCheckout:hover {
    background: #b9002c;
}

.bottomContainer .productPrice {
    font-size: 2em;
    padding-left: 0.5vw;
}