
/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #000000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1f22;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #ffffff;
    }
}

.footer {
    text-align: left;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    background: linear-gradient( 90deg, #b9002c 0%, #006ba4 100% );
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.menu-item {
    position: relative;
}
.submenu-container {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #d5d5d5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.71);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    top: 100%;
    left: 0;
}

.Products:hover .submenu,
.submenu-container:hover .submenu {
    display: block;
}

.GoToProducts {
    cursor: pointer;
}

.menu button{
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

.logo {
    width: auto;
    height: 60px;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

.LoginImage {
        width: auto;
        height: 60px;
        margin: 0 auto;
        display: block;
        object-fit: contain;
}