/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #000000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1f22;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #ffffff;
    }
}

.footer {
    text-align: left;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    background: linear-gradient( 90deg, #b9002c 0%, #006ba4 100% );
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    padding: 10px;
}

.menu button{
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

.logo {
    width: auto;
    height: 60px;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

.LoginImage {
        width: auto;
        height: 60px;
        margin: 0 auto;
        display: block;
        object-fit: contain;
}