
/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #000000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1f22;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #ffffff;
    }
}

footer {
    text-align: left;
    padding: 10px;
    position: relative;
    width: 100%;
}

.menu {
    position: relative;
    background: linear-gradient( 90deg, #b9002c 0%, #006ba4 100% );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    font-size-adjust: 0.9;
}

.menu button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: inherit;
    font-size-adjust: inherit;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
}

.menu-item {
    position: relative;
}
.submenu-container {
    position: relative;
}

.submenu {
    font-size-adjust: 0.7;
    display: none;
    position: absolute;
    background-color: #38414f;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.71);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.submenu.open {
    display: grid;
    opacity: 1;
    transform: translateY(-10px);
}

.GoToProducts {
    cursor: pointer;
    padding: 30px;
}

.menu button{
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

.logo,
.BasketImage,
.LoginImage {
        width: auto;
        height: 60px;
        margin: 0 auto;
        display: block;
        object-fit: contain;
}